:root {
    --margin: 24px;
    --gutter: 24px;
    --gapsection: 80px;

    --black: hsla(0, 9%, 11%, 1);
    --white: hsla(0, 0%, 91%, 1);
    --primary200: hsla(343, 100%, 89%, 1);
    --primary300: hsla(342, 87%, 82%, 1);
    --primary600: hsla(343, 74%, 62%, 1);

    /*FONT*/
    --h1: 120px;
    --h2: 64px;
    --h3: 36px;
    --h4: 22px;
    --body: 18px;
    --caption: 14px;

    /*TOKENS*/
    --surface-default: var(--black);
    --text-default: var(--white);
    --heading-default: var(--primary200);
    --subheading-default: var(--primary600);

    --surface-primary: var(--primary200);
    --surface-primary-hover: var(--primary300);
    --text-primary: var(--black);
}



* {
    margin: 0;
    border: 0;
    padding: 0;
    color: var(--text-default);
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}


body {
    background-color: var(--surface-default);
    margin: 0px var(--margin);
    overflow-x: hidden;
}


h1 {
    font-size: var(--h1);
    font-weight: 700;
}

h2 {
    font-size: var(--h2);
    color: var(--heading-default);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

b {
    font-weight: 500;
}

p {
    font-size: var(--body);
    font-weight: 300;
}

caption {
    font-size: var(--caption);
}

a {
    text-decoration: none;
}

button {
    border-radius: 64px;
    font-size: var(--body);
}

.primary-button {
    background-color: var(--surface-primary);
    color: var(--text-primary);
    padding: 12px 16px;
}

.secondary-button {
    border: 2px solid var(--primary200);
    padding: 12px 16px;
}

#nav-home {
    position: absolute;
    right: var(--margin);
    top: 40px;
    display: flex;
    width: 122px;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--Spacing-2, 4px);
    position: fixed;
    font-size: var(--body);
}

nav a {
    text-decoration: none;
}

#nav-background {
    width: 273px;
    height: 273px;
    position: fixed;
    right: -105px;
    top: -65px;
    border-radius: 142px;
    opacity: 0.7;
    background: radial-gradient(50% 50% at 50% 50%, var(--Colour-Primary-600, #E6557E) 5.29%, rgba(230, 85, 126, 0.56) 46.15%, rgba(230, 85, 126, 0.00) 100%);
}

main {
    display: flex;
    flex-direction: column;
    padding: 0px --margin !important;
    gap: var(--gapsection);
}

#hero {
    height: calc(100vh - 80px) !important;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.hero-star {
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#hero-star-big {
    width: 432px;
    position: absolute;
    right: -40px;
    bottom: -40px;
    filter: blur(24px);
    z-index: -1;
    animation-name: hero-star-big;
    fill: var(--primary600);
}

#hero-star-small {
    width: 320px;
    position: absolute;
    right: 420px;
    bottom: 220px;
    filter: blur(24px);
    z-index: -1;
    animation-name: hero-star-small;
    fill: var(--primary300);
}


@keyframes hero-star-big {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hero-star-small {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

#hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#hero-title #Mariana {
    color: var(--subheading-default);
}

#hero-title #Martins {
    color: var(--heading-default);
}

#hero h1 {
    text-transform: uppercase;
}

#hero-div {
    display: inline-grid;
    row-gap: 10px;
    column-gap: var(--gutter);
    align-self: stretch;
    grid-template-rows: repeat(1, fit-content(100%));
    grid-template-columns: repeat(12, minmax(0, 1fr));
    align-items: center;
}

#hero-h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 1 / span 6;
    justify-self: stretch;
}

#hero-h3 strong {
    color: var(--subheading-default);
}

#hero-div button {
    display: inline-flex;
    padding: var(--Spacing-4, 12px) var(--Spacing-5, 16px);
    align-items: center;
    gap: var(--Spacing-2, 4px);
    grid-row: 1 / span 1;
    grid-column: 12 / span 1;
    justify-self: end;
    height: min-content;
    width: max-content;
}

#hero-div button img {
    width: 0px;
}

#hero-div button:hover img {
    width: 16px;
    animation: 300ms ease-in-out;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    padding: 16px 0px;
    align-self: stretch;
}

#about h3 {
    writing-mode: sideways-lr;
    color: var(--subheading-default);
}

.about-title {
    display: flex;
    align-items: center;
    gap: var(--Spacing-3, 8px);
    align-self: stretch;
}

#about-main {
    display: inline-grid;
    column-gap: 32px;
    align-self: stretch;
    grid-template-rows: repeat(1, fit-content(100%));
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.about-section {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    align-self: end;
    grid-row: 1 / span 1;
    justify-self: stretch;
}

.about-subsection {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

#about-experience {
    grid-column: 1 / span 5;
}

#about-education {
    grid-column: 6 / span 5;
}

.about-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}


.about-title {
    display: flex;
    align-items: center;
    gap: var(--Spacing-3, 8px);
    align-self: stretch;
}

.about-title p {
    flex: 1 0 0;
    color: var(--heading-default);
}

.about-title caption {
    display: inline-flex !important;
}

.tasks-section div {
    display: flex;
    align-items: center;
    gap: 8px;
}

/*SEE THIS---------------------------------------------*/
.tasks-section div img {
    width: 12px;
    fill: var(--white) !important;
}

#work-main {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 16px;
    width: 100%;
}

.work-card {
    flex: calc((100% - (var(--gutter) * 2)) / 3);
}

.work-image {
    width: fit-content;
    border: 2px solid var(--primary200);
    border-radius: 4px;
    width: 100%;
}

.work-category-star {
    width: 16px;
    fill: white;
}

.work-title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.work-category-div {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
    border: 2px palevioletred;
}

.work-category-div img {
    width: 12px;
}

#faqs-section {
    display: inline-grid;
    row-gap: 24px;
    column-gap: var(--gutter);
    align-self: stretch;
    grid-template-rows: repeat(1, fit-content(100%));
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

#faqs-main {
    display: flex;
    padding: var(--Spacing-0, 0);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-7, 32px);
    grid-row: 1 / span 1;
    grid-column: 1 / span 6;
    justify-self: stretch;
}

summary {
    list-style: none;
    gap: 32px;
    font-size: var(--body);
}

#contacts-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#contacts a {
    text-decoration: underline;
}

footer {
    width: calc(100vw - calc (var(--margin) * 2));
    text-align: center;
    background-color: palevioletred;
}

#footer-credits img {
    visibility: hidden;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    bottom: 24px;
    animation-name: credits;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#footer-credits:hover img {
    visibility: visible;
}

@keyframes credits {

    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(-1);
    }

    100% {
        transform: scaleX(1);
    }
}


#project header {
    height: 100vh;
}

#project header img {
    width: calc(100vw - 48px);
    margin: 0 -24px;
}

#project #information {
    display: inline-grid;
    column-gap: 32px;
    align-self: stretch;
    grid-template-rows: repeat(1, fit-content(100%));
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

#project h4 {
    grid-column: 1 / span 8;
}

/*.about-section {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    align-self: end;
    grid-row: 1 / span 1;
    justify-self: stretch;
}

.about-subsection {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

#about-experience {
    grid-column: 1 / span 5;
}*/



#project main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Spacing-10, 64px);
    align-self: stretch;
}

#project-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.project-item {
    display: inline-grid;
    row-gap: var(--Spacing-0, 0);
    column-gap: var(--Spacing-5, 16px);
    align-self: stretch;
    grid-template-rows: repeat(1, fit-content(100%));
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.project-item h4 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    justify-self: stretch;
}

.project-item div {
    grid-row: 1 / span 1;
    grid-column: 3 / span 6;
    justify-self: stretch;
}

.project-item p {
    grid-row: 1 / span 1;
    grid-column: 3 / span 6;
    justify-self: stretch;
}

#nav-project {
    position: sticky;
    top: 100;
    border-radius: 8px;
    border: 2px solid var(--Colour-Primary-600, #E6557E);
    display: flex;
    padding: var(--Spacing-7, 32px) var(--Spacing-6, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

@media only screen and (max-width: 800px) {
    :root {
        --h1: 64px;
        --h2: 48px;
        --h3: 32px;
        --h4: 24px;
        --body: 20px;
    }

    #hero-div {
        display: flex;
        flex-direction: column;
        align-items: self-end;
    }

    #about-main {
        display: flex;
        flex-direction: column;
        align-items: self-start;
    }

    .about-section {
        width: 100%;
    }

    #hero-star-big {
        width: 320px;
        right: -40px;
        bottom: 180px;
        filter: blur(16px);
    }

    #hero-star-small {
        width: 180px;
        right: 420px;
        bottom: 320px;
        filter: blur(16px);
    }

}

@media only screen and (max-width: 1200px) {
    #about-experience {
        grid-column: 1 / span 6;
    }

    #about-education {
        grid-column: 7 / span 6;
    }
}

@media only screen and (max-width: 800px) {
    #about-main {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        gap: 80px;
    }

    .about-section {
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {
    :root {
        --h1: 64px;
        --h2: 48px;
        --h3: 32px;
        --h4: 22px;
        --body: 18px;
    }

    #hero-div {
        display: flex;
        flex-direction: column;
        align-items: self-end;
    }
}

/*main {
    margin: var(--margin);
}